smartflow-content-engine.json
{
  "name": "SmartFlow Content Engine",
  "nodes": [
    {
      "parameters": {
        "person": "LPFUQ2DV7z",
        "text": "={{$json[\"text\"]}}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -384,
        384
      ],
      "id": "b90f46d4-5416-480e-90dc-f5414b7ad562",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "PKYeEEhh5SP2Qlfc",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        -48
      ],
      "id": "b2f96fe9-308c-4c77-ab07-2bba42ea2c42",
      "name": "Telegram Trigger",
      "webhookId": "d3d77c9b-71d4-4ee2-a994-e278e24e9e58",
      "credentials": {
        "telegramApi": {
          "id": "ScCdnsO77AWOyZol",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"mode\"]}}",
                    "rightValue": "viral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b3acb647-04a8-445a-b813-f69ff78e4818"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9ad1654-5af9-4dfa-851f-ed06385c6002",
                    "leftValue": "={{$json[\"mode\"]}}",
                    "rightValue": "authority",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7cc0d2bd-715d-4167-8815-d90866d06e3a",
                    "leftValue": "={{$json[\"mode\"]}}",
                    "rightValue": "dm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -256,
        -96
      ],
      "id": "680f731f-70ff-4355-ac4a-eaae529538d4",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "content": "=Topic: {{ $json[\"topic\"] }}\n\nHere are source materials gathered from recent web articles:\n\n{{ $json[\"sourcesText\"] }}\n\nWrite one cohesive LinkedIn post based on the strongest combined insight from these sources.\n\nDo not summarize each article separately.\nDo not mention the sources directly.\nFocus on synthesis, clarity, and one strong narrative."
            },
            {
              "role": "system",
              "content": "=You are Nnamdi — an AI/ML engineer and automation architect who builds real-world systems.\n\nWrite a LinkedIn post designed to capture attention and spark engagement.\n\nStructure:\n- Start with a bold, scroll-stopping hook\n- Challenge a common belief\n- Deliver a sharp insight\n- End with a question\n\nStyle:\n- Very concise\n- One line per paragraph\n- No emojis\n- No hashtags\n\nTone:\n- Confident\n- Slightly provocative\n\nConstraints:\n- 80–150 words\n- Every line must be impactful\n\nTopic: {{ $json[\"message\"][\"text\"] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -48,
        -192
      ],
      "id": "a3e5ac63-09ea-4afa-b2a5-d626feed1228",
      "name": "Viral",
      "credentials": {
        "openAiApi": {
          "id": "O13Yea6VxXLPZp3g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "content": "=Topic: {{ $json[\"topic\"] }}\n\nHere are source materials gathered from recent web articles:\n\n{{ $json[\"sourcesText\"] }}\n\nWrite one cohesive LinkedIn post based on the strongest combined insight from these sources.\n\nDo not summarize each article separately.\nDo not mention the sources directly.\nFocus on synthesis, clarity, and one strong narrative."
            },
            {
              "role": "system",
              "content": "=You are Nnamdi — an AI/ML engineer and automation architect who builds real-world systems using tools like n8n, APIs, and LLMs.\n\nYou think in systems, not trends.\n\nWrite a LinkedIn post that reflects practical experience.\n\nStructure:\n- Strong hook\n- Real insight\n- Implementation-focused explanation\n- Subtle CTA\n\nStyle:\n- Clear, concise\n- No fluff\n- No emojis\n- No hashtags\n\nTone:\n- Analytical\n- Calm\n- Slightly contrarian\n\nConstraints:\n- 120–220 words\n- No generic statements\n\nTopic: {{ $json[\"message\"][\"text\"] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -48,
        -80
      ],
      "id": "746f218b-e328-4988-9b3b-ece51266aa56",
      "name": "Authority",
      "credentials": {
        "openAiApi": {
          "id": "O13Yea6VxXLPZp3g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "content": "=Topic: {{ $json[\"topic\"] }}\n\nHere are source materials gathered from recent web articles:\n\n{{ $json[\"sourcesText\"] }}\n\nWrite one cohesive LinkedIn post based on the strongest combined insight from these sources.\n\nDo not summarize each article separately.\nDo not mention the sources directly.\nFocus on synthesis, clarity, and one strong narrative."
            },
            {
              "role": "system",
              "content": "=You are Nnamdi — an AI/ML engineer and automation architect who builds and deploys automation systems for businesses.\n\nWrite a LinkedIn post that attracts potential clients.\n\nStructure:\n- Start with a real problem\n- Show why most people get it wrong\n- Give a practical insight\n- Hint at a solution\n- End with a soft CTA\n\nStyle:\n- Clear and practical\n- No fluff\n- No emojis\n- No hashtags\n\nTone:\n- Calm authority\n- Helpful\n\nConstraints:\n- 120–200 words\n- Focus on business impact\n\nTopic: {{ $json[\"message\"][\"text\"] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -48,
        32
      ],
      "id": "4a864fab-efcb-4d46-ae50-5e25992391d3",
      "name": "DM",
      "credentials": {
        "openAiApi": {
          "id": "O13Yea6VxXLPZp3g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Latest news, insights, and analysis about {{$json.topic}}. Focus on high-quality sources.\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"news\",\n  \"time_range\": \"month\",\n  \"include_answer\": false,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"auto_parameters\": false,\n  \"exact_match\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        -80
      ],
      "id": "5e4adc02-6db7-48b8-ba57-0011cb984fde",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.message?.text || '').trim();\nconst lowered = raw.toLowerCase();\n\nif (lowered === 'approve' || lowered === 'redo' || lowered === 'skip') {\n  return [\n    {\n      json: {\n        valid: true,\n        kind: 'decision',\n        action: lowered,\n        raw,\n        chatId: $json.message?.chat?.id\n      }\n    }\n  ];\n}\n\nconst match = raw.match(/^(viral|authority|dm)\\s*:\\s*(.+)$/i);\n\nif (!match) {\n  return [\n    {\n      json: {\n        valid: false,\n        kind: 'invalid',\n        error: 'Message must be approve, redo, skip, or start with viral:, authority:, or dm:',\n        raw,\n        chatId: $json.message?.chat?.id\n      }\n    }\n  ];\n}\n\nconst mode = match[1].toLowerCase();\nconst topic = match[2].trim();\n\nreturn [\n  {\n    json: {\n      valid: true,\n      kind: 'new_post',\n      mode,\n      topic,\n      raw,\n      chatId: $json.message?.chat?.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -48
      ],
      "id": "756d12fa-71e3-4aec-a666-ea6749ecf5bc",
      "name": "Trigger Code"
    },
    {
      "parameters": {
        "jsCode": "const mode = $('Post Context').first().json.mode ?? '';\nconst topic = $('Post Context').first().json.topic ?? '';\n\nconst results = $json.results || [];\n\nconst sourcesText = results\n  .slice(0, 3)\n  .map((r, i) => {\n    const title = r.title || `Source ${i + 1}`;\n    const url = r.url || '';\n    const content = (r.raw_content || r.content || '').slice(0, 1200);\n\n    return `Source ${i + 1}\nTitle: ${title}\nURL: ${url}\n\n${content}`;\n  })\n  .join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    mode,\n    topic,\n    sourcesText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -80
      ],
      "id": "8d9ec2da-7920-4e50-9859-50e4005a5bb5",
      "name": "After Tavily Code"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "=Create a realistic editorial-style workplace photo related to: {{ $json[\"topic\"] }}\n\nShow 2 to 5 professionals in a natural work setting.\n\nFocus on a moment that reflects the topic through real work:\n- reviewing dashboards\n- discussing systems or workflows\n- analyzing performance or inefficiencies\n- collaboration around processes\n\nStyle:\n- candid, photojournalistic\n- natural lighting\n- realistic faces and proportions\n- business magazine realism\n\nAvoid:\n- robots\n- futuristic elements\n- CGI look\n- overly staged scenes\n- generic “people typing” with no context\n\nShot on a 35mm lens, natural depth of field, neutral color grading.",
        "options": {
          "quality": "medium",
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -672,
        352
      ],
      "id": "712efb3f-b6e0-4cc3-8e66-9f12256129a1",
      "name": "Image Generator",
      "credentials": {
        "openAiApi": {
          "id": "O13Yea6VxXLPZp3g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3937d19c-a35b-4e07-ba1f-38748bfa26fc",
              "name": "text",
              "value": "={{$json[\"output\"][0][\"content\"][0][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -192
      ],
      "id": "fab7c290-58dd-4047-8d39-35a17c3f56c7",
      "name": "Viral Edit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3937d19c-a35b-4e07-ba1f-38748bfa26fc",
              "name": "text",
              "value": "={{$json[\"output\"][0][\"content\"][0][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -80
      ],
      "id": "c03db824-741d-4dee-a6d4-1c98805b07d6",
      "name": "Authority Edit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3937d19c-a35b-4e07-ba1f-38748bfa26fc",
              "name": "text",
              "value": "={{$json[\"output\"][0][\"content\"][0][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        32
      ],
      "id": "98bed005-6546-4b43-a1cc-73505d39ee8b",
      "name": "DM Edit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3937d19c-a35b-4e07-ba1f-38748bfa26fc",
              "name": "=const topic = $json.topic ?? ''; const postType = $json.postType ?? ''; const text = $json.text ?? '';  const caption = `Preview only — not posted yet  Topic: ${topic} Type: ${postType}  ${text}  Choose: APPROVE REDO SKIP`;  return [{   json: {     ...$json,     caption   },   binary: $binary }];",
              "value": "={{$json[\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        128
      ],
      "id": "1ade6292-160f-472e-b32a-38c20d1c2a38",
      "name": "Final Payload"
    },
    {
      "parameters": {
        "jsCode": "const globalStore = $getWorkflowStaticData('global');\n\nglobalStore.pendingPost = {\n  topic: $('Trigger Code').first().json.topic ?? '',\n  postType: $('Trigger Code').first().json.mode ?? '',\n  text: $json.text ?? '',\n  chatId: $('Telegram Trigger').first().json.message.chat.id,\n  savedAt: new Date().toISOString(),\n  status: 'pending'\n};\n\nreturn [{\n  json: globalStore.pendingPost,\n  binary: $binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -80
      ],
      "id": "b57085a6-de5b-4cf1-a560-c1b852e02851",
      "name": "Pending Post"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=Preview — NOT posted yet\n\n{{ $json.text }}\n\nReply with:\napprove\nredo\nskip",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        128
      ],
      "id": "9c67e960-42d4-40cd-9d59-d01b5bcc2299",
      "name": "Send a text message",
      "webhookId": "035edb6e-5517-4462-937c-e2d89b8a1c4f",
      "credentials": {
        "telegramApi": {
          "id": "ScCdnsO77AWOyZol",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "new_post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b3acb647-04a8-445a-b813-f69ff78e4818"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9ad1654-5af9-4dfa-851f-ed06385c6002",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "decision",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Decision"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7cc0d2bd-715d-4167-8815-d90866d06e3a",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1104,
        -64
      ],
      "id": "ad741f5f-cc73-407c-b7cc-0564df1f5bed",
      "name": "Check_Command"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b3acb647-04a8-445a-b813-f69ff78e4818"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9ad1654-5af9-4dfa-851f-ed06385c6002",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "redo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Redo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7cc0d2bd-715d-4167-8815-d90866d06e3a",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1104,
        160
      ],
      "id": "f0111b19-37f0-4f8a-b6d6-279b7c2f0488",
      "name": "Decision"
    },
    {
      "parameters": {
        "jsCode": "const globalStore = $getWorkflowStaticData('global');\nconst pendingPost = globalStore.pendingPost || {};\n\nreturn [{\n  json: {\n    topic: pendingPost.topic || '',\n    mode: pendingPost.postType || '',\n    text: pendingPost.text || '',\n    chatId: pendingPost.chatId || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        144
      ],
      "id": "5938caed-d80f-4090-88e6-7367ba0c9c58",
      "name": "Load Pending Post"
    },
    {
      "parameters": {
        "jsCode": "const globalStore = $getWorkflowStaticData('global');\nconst pendingPost = globalStore.pendingPost || {};\n\nreturn [{\n  json: {\n    valid: true,\n    kind: 'new_post',\n    mode: pendingPost.postType || '',\n    topic: pendingPost.topic || '',\n    raw: `${pendingPost.postType || ''}: ${pendingPost.topic || ''}`,\n    chatId: pendingPost.chatId || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        176
      ],
      "id": "e28c4006-b31c-4d43-9117-4ed726d18ebe",
      "name": "Redo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Skipped. Waiting for next topic.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        432
      ],
      "id": "cf5e7d7d-0da6-426a-9c6b-2e851b141949",
      "name": "Skipped",
      "webhookId": "035edb6e-5517-4462-937c-e2d89b8a1c4f",
      "credentials": {
        "telegramApi": {
          "id": "ScCdnsO77AWOyZol",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        160
      ],
      "id": "afef8d6e-92f7-406e-8421-8b885229ce88",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const mode =\n  $json.mode ??\n  $json.mode ??\n  '';\n\nconst topic =\n  $json.topic ??\n  $json.topic ??\n  '';\n\nreturn [\n  {\n    json: {\n      mode,\n      topic\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -80
      ],
      "id": "f520239f-c3f4-455f-9c30-3bd7e87a0312",
      "name": "Post Context"
    }
  ],
  "pinData": {},
  "connections": {
    "Create a post": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Trigger Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Viral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Authority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Viral": {
      "main": [
        [
          {
            "node": "Viral Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authority": {
      "main": [
        [
          {
            "node": "Authority Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM": {
      "main": [
        [
          {
            "node": "DM Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "After Tavily Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Code": {
      "main": [
        [
          {
            "node": "Check_Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After Tavily Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DM Edit": {
      "main": [
        [
          {
            "node": "Pending Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authority Edit": {
      "main": [
        [
          {
            "node": "Pending Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Viral Edit": {
      "main": [
        [
          {
            "node": "Pending Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Payload": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending Post": {
      "main": [
        [
          {
            "node": "Final Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Command": {
      "main": [
        [
          {
            "node": "Post Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision": {
      "main": [
        [
          {
            "node": "Load Pending Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Pending Post": {
      "main": [
        [
          {
            "node": "Image Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redo": {
      "main": [
        [
          {
            "node": "Post Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Context": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "23b8b9dd-9df5-4c5f-93d0-325e7bcd3406",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77c3ca97a65275f78022dfb1f2a98eca96d69908405c5028a9184a28f814e4a6"
  },
  "id": "u9qle8zxECztTHoU",
  "tags": []
}